<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
                           
      <!-- cfg dependency spring bean-->
      <bean id="bat1" class="com.ar.beans.CricketBat"/>
      
      <!-- cfg Target spring bean-->
      <bean id="ckt" class="com.ar.beans.Cricket">
		  <!--<constructor-arg name="batId" value="bat2"/>
		  <constructor-arg name="batId">
			  <idref bean="bat1"/>
			  </constructor-arg>-->
			  <lookup-method name="createCricketBat" bean="bat1"/> 
	   </bean>
      
      
                           
</beans>