<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">
  
  <bean id="dc1" class="java.util.Date">
  <property name="year" value="110"/>
  <property name="month" value="11"/>
  <property name="date" value="15"/>
  </bean>
  
  <bean id="dc" class="java.util.Date"/>
  
  <bean id="tc" class="com.ar.beans.WishMessageGenerator">
  <property name="date" ref="dc1"/>
  <constructor-arg name="date" ref="dc"/>
  </bean>
  
</beans>